params {
    input_dir = './data/'
    outdir = './results'
    input_design = './BigwigDesign.csv'
    bed_design = './BedDesign.csv'
    genome = 'SacCer3.fa'
    bt2index = 'SacCer3.fa'
    genome_prefix = 'SacCer3'
    mapper_id = 'BOWTIE'
    samtools_q_filter = 0
    bin_size = 1
    macs_analyses = true
    macs2_genome = '12e6'
    deeptools_analyses = true
    deeptools_labelRotation = 30
    deeptools_heatmapHeight = 18 //default is 28 in deeptools
    deeptools_TypeSummaryPlot = 'median'
    deeptools_plotCorrelation_options = '--corMethod spearman --whatToPlot heatmap --plotNumbers'
    deeptools_Heatmap_options = '--yMin 0' //set '' for automatic yMin. Or set a value 
     r_analyses = true
    r_scaling = true
    r_function_file = './r_scaling_function.R'

}

process {
   container = ''
   queue = ''
   withLabel: 'multiCpu' {
      cpus=6
   }
   withLabel: 'local' {
      executor = 'local'
   }
   withLabel: 'usePicard' {
      container = 'gatk.simg'
   }

}
executor {
   name = 'pbspro'
   pollInterval = '1 min'
   queueStatInterval = '2 min'
   exitReadTimeout = '3600 sec'
}

singularity {
   enabled = true
   autoMounts = true
}
