params {
    input_dir = './data/'
    outdir = './results'
    input_design = './BigwigDesign.csv'
    bed_design = './BedDesign.csv'


 
    macs2_analyses = true
    macs2_genome = '12e6'

    deeptools_analyses = true // whether deeptools should be used for correlations and heatmaps
    
    //plotHeatmap options
    deeptools_HM_prefix = 'HeatMap'
    deeptools_HM_labelRotation = 30 // angle at which the labels are rotated
    deeptools_HM_heatmapHeight = 18 //default is 28 in deeptools
    deeptools_HM_TypeSummaryPlot = 'median' //averageTypeSummaryPlot options in plotHeatMap
    deeptools_HM_options = '--yMin 0' //remove --yMin for automatic detection. see  https://deeptools.readthedocs.io/en/develop/content/tools/plotHeatmap.html for more details.

    //plotCorrelation options
    deeptools_PC_prefix = 'Correlation'
    deeptools_PC_options = '--corMethod spearman --whatToPlot heatmap --plotNumbers'
    

    r_analyses = true
    r_scaling = true
    r_function_file = './r_scaling_function.R'

}

process {
   container = ''
   queue = ''
   withLabel: 'multiCpu' {
      cpus=6
   }
   withLabel: 'local' {
      executor = 'local'
   }
   withLabel: 'usePicard' {
      container = 'gatk.simg'
   }

}
executor {
   name = 'pbspro'
   pollInterval = '1 min'
   queueStatInterval = '2 min'
   exitReadTimeout = '3600 sec'
}

singularity {
   enabled = true
   autoMounts = true
}
